<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Панель користувача</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>Панель користувача</h1>
        <button onclick="window.location.href='/'">Головна</button>
    </header>

    <main>
        <p>Ласкаво просимо до вашої Панелі керування!</p>
    </main>

    <footer>
        <p>Зв'яжіться з нами: info@clinic.com</p>
    </footer>
</body>
</html>